.tableclass {
    min-width: 800px;
    margin: 10px auto;
    display: inline-block;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    border: 1em lightcoral;
    margin: 10px 10px 10px 10px;
}

.jumbotron {
    min-width: 800px;
    margin: 10px auto;
    display: inline-block;
    justify-content: center;
    margin: 10px 10px 10px 10px;
}

.submitbutton {
    background-color: black;
    color: pink;
    padding: 5px
}

button {
    background-color: black;
    color: black;
    padding: 10px;
    margin-top: 1rem;
}

a {
    color: pink;
}